body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ebee;
  }

  .error{
      color:red;
      font-size: 12px;
  }

  .topnav {
    overflow: hidden;
    background-color: #4267b2;
    display: inline-block;
    width:100%;
  }

  .topnav a {
    color: #131212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .firstDiv{
      display: inline-block;
      color:white;
      margin-left: 20px;
      margin-bottom: 20px;
  }

  .secondDiv{
      display:inline-block;
      float:right;
      margin-right: 20px;
      margin-top: 20px;
      color: white;
  }

  .signUp{
    width:300px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .signUp form{
    display: inline-block;
    text-align: left;
    padding: 15px;
    border: 1px solid grey;
    width:400px;
    margin: 0 auto;
    margin-top: 16px;

  }
  .signUp span{
    text-align: center;
  }
  .signUp input{
    float: left;
    width: 200px;
    height: 15px;
  }

  .middle{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box}

  /* Full-width input fields */
  .container input[type=text], .container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
  }

  hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
  }

  /* Set a style for all buttons */
  button {
      background: linear-gradient(#67ae55, #578843);
      background-color: #69a74e;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      font-size: 15px;
  }

  button:hover {
      opacity:1;
  }

  /* Add padding to container elements */
  .container {
      padding: 10px;
  }

  /* Clear floats */
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }

  /* Change styles for signup button on extra small screens */
  @media screen and (max-width: 300px) {
       .signupbtn, .signinbtn {
         width: 100%;
      }
  }

  .link {
    color: dodgerblue;
  }
