table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

#addTransaction {
    background-color: #f2f2f2;
    border: 5px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.filters{
  padding-top: 20px;
  padding-left: : 0px;
}
