.negative
{
    color: red;
}

.positive
{
    color: green;
}

#main{
    vertical-align: middle;
}
table {
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}




body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ebee;
}

.topnav {
    overflow: hidden;
    background-color: #4267b2;
    display: inline-block;
    width:100%;
}
table{
    padding: 60px;
    margin: 60px;
}
th{
    padding: 20px;
    font-size: 24px;
    background-color: darkgray;

}
td{
    font-size: 18px;
    padding: 20px;

}
.topnav a {
    color: #131212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.firstDiv{
    display: inline-block;
    color:white;

    height: 100%;
}

.secondDiv{
    display:inline-block;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
}



.signUp{
    width:300px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.signUp form{
    display: inline-block;
    text-align: center;
    padding: 15px;
    border: 5px solid white;
}
.signUp span{
    text-align: center;
}
.signUp input{
    float:right;
    width: 200px;
    height: 15px;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;

}


nav{
    background: lightskyblue;
}
.firstDiv div {
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 40px 20px;
    width: 160px;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.firstDiv div:hover {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4267b2;
    color: white;
}

.title {
    padding-left: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.sheet {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top: 20px;
    width: 20%;
}

/*
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #4267b2;
  display: inline-block;
  width:100%;
}

.topnav a {
  color: #131212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.firstDiv{
    display: inline-block;
    color:white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.secondDiv{
    display:inline-block;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
}

.secondDiv p{
    font-size: smaller;
}

.signUp{
  width:300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.signUp form{
  display: inline-block;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
}
.signUp span{
  text-align: center;
}
.signUp input{
  float:right;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: center;

}

*/
